<!DOCTYPE html>

<html lang="en">

<body>

	<form  name="input" action="." method="post">
		<span>Tamanho do planalto: </span><input type="text" name="board_size" value="">
		<br><br>
		<span>Coordenada do robot: </span><input type="text" name="robot_coordinate" value="">
		<br><br>
		<span>Direcao do robot: </span><input type="text" name="robot_direction" value="">
		<br><br>
		<span>Caminhos: </span><input type="text" name="robot_path" value="">
		<br><br>
		<span>Coordenada do robot: </span><input type="text" name="robot_coordinate" value="">
		<br><br><br><br>
		<input type="submit" name="compute" value="Calcular rota!">
	</form>
</body>

</html>